USE [BDS]
GO
/****** Object:  Table [dbo].[LoaiBDS]    Script Date: 29-Nov-25 11:18:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiBDS](
	[IDLoaiBDS] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiBDS] [nvarchar](100) NULL,
 CONSTRAINT [PK_LoaiBDS] PRIMARY KEY CLUSTERED 
(
	[IDLoaiBDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiNhaDat]    Script Date: 29-Nov-25 11:18:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNhaDat](
	[LoaiID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoaiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 29-Nov-25 11:18:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinDang]    Script Date: 29-Nov-25 11:18:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinDang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](200) NOT NULL,
	[Gia] [decimal](18, 0) NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](200) NULL,
	[LoaiID] [int] NULL,
	[UserID] [int] NULL,
	[NgayDang] [datetime] NULL,
	[IDLoaiBDS] [int] NULL,
	[SDT] [nvarchar](20) NULL,
 CONSTRAINT [PK__NhaDat__3214EC27B613DE59] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinDangImages]    Script Date: 29-Nov-25 11:18:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinDangImages](
	[IDImages] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NOT NULL,
	[ImagePath] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDImages] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 29-Nov-25 11:18:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[MaTinTuc] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](200) NOT NULL,
	[TomTat] [nvarchar](500) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[AnhBia] [nvarchar](255) NULL,
	[NgayDang] [datetime] NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTinTuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTucImages]    Script Date: 29-Nov-25 11:18:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTucImages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[MaTinTuc] [int] NOT NULL,
	[ImagePath] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 29-Nov-25 11:18:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[RoleID] [int] NULL,
 CONSTRAINT [PK__Users__1788CCAC452B554F] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LoaiBDS] ON 

INSERT [dbo].[LoaiBDS] ([IDLoaiBDS], [TenLoaiBDS]) VALUES (1, N'Bán')
INSERT [dbo].[LoaiBDS] ([IDLoaiBDS], [TenLoaiBDS]) VALUES (2, N'Thuê')
INSERT [dbo].[LoaiBDS] ([IDLoaiBDS], [TenLoaiBDS]) VALUES (3, N'Dự án')
SET IDENTITY_INSERT [dbo].[LoaiBDS] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiNhaDat] ON 

INSERT [dbo].[LoaiNhaDat] ([LoaiID], [TenLoai]) VALUES (1, N'Nhà phố')
INSERT [dbo].[LoaiNhaDat] ([LoaiID], [TenLoai]) VALUES (2, N'Căn hộ')
INSERT [dbo].[LoaiNhaDat] ([LoaiID], [TenLoai]) VALUES (3, N'Đất nền')
SET IDENTITY_INSERT [dbo].[LoaiNhaDat] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName], [MoTa]) VALUES (1, N'Admin', N'Quản trị viên')
INSERT [dbo].[Role] ([RoleID], [RoleName], [MoTa]) VALUES (2, N'NguoiDung', N'Người đã đăng ký')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[TinDang] ON 

INSERT [dbo].[TinDang] ([ID], [TieuDe], [Gia], [DiaChi], [MoTa], [HinhAnh], [LoaiID], [UserID], [NgayDang], [IDLoaiBDS], [SDT]) VALUES (1013, N'bán lô đất nền', CAST(3000000000 AS Decimal(18, 0)), N'PHƯỜNG 2, TUY HOÀ, PHÚ YÊN', N'Bán đất tặng nhà cấp 4 cũ. liên hệ ', N'images/Uploads/bia_638999743088263944.jpg', 3, 6, CAST(N'2025-11-18T15:38:53.130' AS DateTime), 1, N'')
INSERT [dbo].[TinDang] ([ID], [TieuDe], [Gia], [DiaChi], [MoTa], [HinhAnh], [LoaiID], [UserID], [NgayDang], [IDLoaiBDS], [SDT]) VALUES (1015, N'Cho Thuê nhà Nguyễn Đình Chiểu', CAST(5000000 AS Decimal(18, 0)), N'Nguyễn Đình Chiểu, P7, Thành Phố Tuy Hoà', N'diện tích 5*15 liên hệ số điện thoại 0382145678', N'images/Uploads/bia_638999742646585972.jpg', 1, 6, CAST(N'2025-11-18T16:16:03.613' AS DateTime), 2, N'')
INSERT [dbo].[TinDang] ([ID], [TieuDe], [Gia], [DiaChi], [MoTa], [HinhAnh], [LoaiID], [UserID], [NgayDang], [IDLoaiBDS], [SDT]) VALUES (2016, N'nhà mới', CAST(23000000000 AS Decimal(18, 0)), N'Thủ Đức, TP HCM', N'biệt thự đẹp diện tích xxxxxxxxxx liên hệ 0905xxxxx', N'images/Uploads/638998360556435213_0.jpg', 4, NULL, CAST(N'2025-11-27T10:27:35.743' AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[TinDang] OFF
GO
SET IDENTITY_INSERT [dbo].[TinDangImages] ON 

INSERT [dbo].[TinDangImages] ([IDImages], [ID], [ImagePath]) VALUES (1, 2020, N'images/Uploads/638998367126378006_0.jpg')
INSERT [dbo].[TinDangImages] ([IDImages], [ID], [ImagePath]) VALUES (2, 2020, N'images/Uploads/638998367126487728_1.jpg')
INSERT [dbo].[TinDangImages] ([IDImages], [ID], [ImagePath]) VALUES (3, 2020, N'images/Uploads/638998367126507678_2.jpg')
SET IDENTITY_INSERT [dbo].[TinDangImages] OFF
GO
SET IDENTITY_INSERT [dbo].[TinTuc] ON 

INSERT [dbo].[TinTuc] ([MaTinTuc], [TieuDe], [TomTat], [NoiDung], [AnhBia], [NgayDang], [UserID]) VALUES (1, N'Quy hoạch đất đai mới năm 2025', N'Các thay đổi quan trọng trong quy hoạch nhà đất.', N'Nội dung bài viết ...', N'tin_638998589596538032.jpg', CAST(N'2025-11-14T21:58:06.853' AS DateTime), 1)
INSERT [dbo].[TinTuc] ([MaTinTuc], [TieuDe], [TomTat], [NoiDung], [AnhBia], [NgayDang], [UserID]) VALUES (4, N'[TUY HOÀ - PHÚ YÊN] Quy hoạch đất đai mới năm 2025', N'Quy hoạch các tuyến đường mới', N'Do sự nhịp cầu du lịch thành phố Tuy Hoà đang ngày càng phát triển dẫn đến dân cư ngày càng đông. Quy hoạch những lô đất gần đường sắt để làm đương lưu thông', N'tin_638998604604935434.png', CAST(N'2025-11-18T17:45:27.680' AS DateTime), NULL)
INSERT [dbo].[TinTuc] ([MaTinTuc], [TieuDe], [TomTat], [NoiDung], [AnhBia], [NgayDang], [UserID]) VALUES (5, N'xu hướng nhà đất', N'giá đất biến động', N'Cập nhật 3,128 bảng giá đất thổ cư tại Phú Yên mới nhất năm 2025. Xem chi tiết giá đất theo tuyến đường, vị trí, loại đất để tính thuế, đền bù, chuyển đổi mục đích sử dụng và lập kế hoạch mua bán hiệu quả.', N'tin_638998589320364114.jpg', CAST(N'2025-11-27T15:36:49.307' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[TinTuc] OFF
GO
SET IDENTITY_INSERT [dbo].[TinTucImages] ON 

INSERT [dbo].[TinTucImages] ([ImageID], [MaTinTuc], [ImagePath]) VALUES (1, 5, N'638998546093184610_hinh-thuc-te-the-classia-5.jpg')
INSERT [dbo].[TinTucImages] ([ImageID], [MaTinTuc], [ImagePath]) VALUES (2, 5, N'638998546093364134_mau-nha-dong-tang-long-1.jpg')
INSERT [dbo].[TinTucImages] ([ImageID], [MaTinTuc], [ImagePath]) VALUES (3, 7, N'638998740572435883_tt2.jpg')
SET IDENTITY_INSERT [dbo].[TinTucImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Email], [RoleID]) VALUES (1, N'admin', N'123456', N'Quản trị viên', N'admin@gmail.com', 1)
INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Email], [RoleID]) VALUES (3, N'admin1', N'123', N'Quản Trị', N'admin@gmail.com', 1)
INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Email], [RoleID]) VALUES (6, N'myduyen123', N'1234567@', N'trần thị mỹ duyên', N'acmalangthang1996@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4BF9A7A58]    Script Date: 29-Nov-25 11:18:35 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__536C85E4BF9A7A58] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TinDang] ADD  CONSTRAINT [DF__NhaDat__NgayDang__3F466844]  DEFAULT (getdate()) FOR [NgayDang]
GO
ALTER TABLE [dbo].[TinTuc] ADD  DEFAULT (getdate()) FOR [NgayDang]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__Role__3A81B327]  DEFAULT ('User') FOR [RoleID]
GO
ALTER TABLE [dbo].[TinDang]  WITH CHECK ADD  CONSTRAINT [FK__NhaDat__LoaiID__3D5E1FD2] FOREIGN KEY([LoaiID])
REFERENCES [dbo].[LoaiNhaDat] ([LoaiID])
GO
ALTER TABLE [dbo].[TinDang] CHECK CONSTRAINT [FK__NhaDat__LoaiID__3D5E1FD2]
GO
ALTER TABLE [dbo].[TinDang]  WITH CHECK ADD  CONSTRAINT [FK__NhaDat__UserID__3E52440B] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TinDang] CHECK CONSTRAINT [FK__NhaDat__UserID__3E52440B]
GO
ALTER TABLE [dbo].[TinDang]  WITH CHECK ADD  CONSTRAINT [FK_TinDang_LoaiBDS] FOREIGN KEY([IDLoaiBDS])
REFERENCES [dbo].[LoaiBDS] ([IDLoaiBDS])
GO
ALTER TABLE [dbo].[TinDang] CHECK CONSTRAINT [FK_TinDang_LoaiBDS]
GO
ALTER TABLE [dbo].[TinDangImages]  WITH CHECK ADD  CONSTRAINT [FK_TinDangImages_TinDang] FOREIGN KEY([ID])
REFERENCES [dbo].[TinDang] ([ID])
GO
ALTER TABLE [dbo].[TinDangImages] CHECK CONSTRAINT [FK_TinDangImages_TinDang]
GO
ALTER TABLE [dbo].[TinTuc]  WITH CHECK ADD  CONSTRAINT [FK_TinTuc_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TinTuc] CHECK CONSTRAINT [FK_TinTuc_Users]
GO
ALTER TABLE [dbo].[TinTucImages]  WITH CHECK ADD FOREIGN KEY([MaTinTuc])
REFERENCES [dbo].[TinTuc] ([MaTinTuc])
GO
